[Desktop Entry]
Version=1.0
GenericName=formatlab
Name=FORMAT LAB
Type=Application
Icon=formatlab.png
Keywords=video converter;audio converter;video to mp3 converter;format converter;
Exec=formatlab %F
Categories=Utility;Qt;
Terminal=false
Name[en_US]=FORMAT LAB